
.box {
  border: 1px solid rgb(61, 10, 245);
  padding: 50px;
  width: 150px;
  margin-top: 10px;
  background-color: rgb(232, 204, 245);
  display: inline-block; /* This property help in showing items in same line */
}

.loginPanel {
  display: inline;
  padding-left: 25px;
}

/* CSS for table design */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid rgb(192, 182, 252);
}

th {
  background-color: #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

